# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
build/

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/app/build/
android/app/.cxx/
android/local.properties
android/.idea/
android/.vscode/
android/app/src/main/kotlin/**/GeneratedPluginRegistrant.kt
hs_err_pid*.log
# iOS
ios/Flutter/.last_build_id
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
ios/.symlinks/
ios/Podfile.lock
ios/Flutter/Flutter.h
ios/Flutter/Flutter.podspec
ios/.idea/
ios/.vscode/

# Web
web/index.html

# VS Code
.vscode/
.history/

# File types to ignore
*.exe
*.bin
*.jar
*.war
*.mp3
*.mp4
# Directories to ignore
target/
.build/
.env/.DS_Store
