# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
build/

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/app/build/
android/local.properties
android/.idea/
android/.vscode/
android/app/src/main/kotlin/**/GeneratedPluginRegistrant.kt

# iOS
ios/Flutter/.last_build_id
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
ios/.symlinks/
ios/Podfile.lock
ios/Flutter/Flutter.h
ios/Flutter/Flutter.podspec
ios/.idea/
ios/.vscode/

build/

# Web
web/index.html

# VS Code
.vscode/
.history/

# File types to ignore
*.exe
*.bin
*.jar
*.war
*.mp3
*.mp4

# Directories to ignore
target/
.build/
.env/